* { 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
}
#logo {

font-family: 'Lora', serif;
font-weight: 600;
font-size: 1.2rem;
}
.container {
  width: 100%;
  height: 100%;
  max-width: 1150px;

  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
 
}
h1 {
  font-size: 1.72rem;
  margin-bottom: 1.5rem;
}
h2 { 
  font-size: 1.44rem;
  margin-bottom: 1.1rem;
}
h3 {
  font-size: 1.34rem;
  margin-bottom: 1.1rem;
}
h4 {
  font-size: 1rem;
}
h1,h2,h3,h4 {
  line-height: 120%;
}
p {
  font-size: 1rem;
  line-height: 170%;
  color: rgb(88, 88, 88);
}


header {
  height: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(190, 189, 189);
}
header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
section {
   padding-top: 4rem;
   padding-bottom: 4rem;
}
#menuButton {
  background-color: transparent;
  border: none;

}
nav {
  display: none;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  text-decoration: none;
  transition: all 0.2s ease-in;

}
.buttonPrimary {
  background-color: black;
  color: white;
  border-radius: 1rem;
}

.buttonPrimary:hover {
  background-color: rgb(54, 54, 54);
}
  
.buttonSecondary {
  border: 1px solid black;
  color: black;
  border-radius: 1rem;
}

.buttonSecondary:hover {
  background-color: black;
  color: white;
}
.buttonHolder {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;


}


#sectionAbout {
  background-color: rgb(213, 211, 211);
}

.blog img {
  width: 100%;
}

.blog {
  padding: 1rem;
  border: 1px solid grey;
  border-radius: 0.5rem;
  
}

.blog p {
  font-size: 0.9rem;
}
.blogsList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media only screen and (min-width: 576px) {
  .blogsList {
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
}


@media only screen and (min-width: 768px) {
  #menuButton {
      display: none;
  }
  nav { 
      display: block;
  }
  #navList {
      display: flex;
      flex-direction: raw;
     gap: 1rem;
   list-style: none;
  }
  #navList a {
      text-decoration: none;
      color: rgb(137, 136, 136);
  }
  #navList a:hover {
      text-decoration: underline;
  }
.blogsList {
 grid-template-columns: 1fr 1fr 1fr;
}
}


@media only screen and (min-width: 992px) {
  .blogsList {
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}


@media only screen and (max-width: 1200px) {
  h1 {
      font-size: 2.98rem;
  }
  h2 { 
      font-size: 2.8rem;
  }
  h3 {
      font-size: 2.01rem;
  }
  h4 {
      font-size: 1.72rem;
  }
 .blogsList {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
 }
  
}
